In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

from google.colab import files
files.upload()
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sample_submission = pd.read_csv('sample_submission.csv')

Saving sample_submission.csv to sample_submission.csv
Saving test.csv to test.csv
Saving train.csv to train.csv

In [3]:
train.describe()

,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
count,54808.000000,54808.000000,54808.000000,50684.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000
mean,39195.830627,1.253011,34.803915,3.329256,5.865512,0.351974,0.023172,63.386750,0.085170
std,22586.581449,0.609264,7.660169,1.259993,4.265094,0.477590,0.150450,13.371559,0.279137
min,1.000000,1.000000,20.000000,1.000000,1.000000,0.000000,0.000000,39.000000,0.000000
25%,19669.750000,1.000000,29.000000,3.000000,3.000000,0.000000,0.000000,51.000000,0.000000
50%,39225.500000,1.000000,33.000000,3.000000,5.000000,0.000000,0.000000,60.000000,0.000000
75%,58730.500000,1.000000,39.000000,4.000000,7.000000,1.000000,0.000000,76.000000,0.000000
max,78298.000000,10.000000,60.000000,5.000000,37.000000,1.000000,1.000000,99.000000,1.000000

In [5]:
train.isnull().any()

employee_id             False
department              False
region                  False
education                True
gender                  False
recruitment_channel     False
no_of_trainings         False
age                     False
previous_year_rating     True
length_of_service       False
KPIs_met >80%           False
awards_won?             False
avg_training_score      False
is_promoted             False
dtype: bool

In [14]:
train['education'].value_counts()

Bachelor's          36669
Master's & above    14925
Below Secondary       805
Name: education, dtype: int64

In [0]:
train.education = (pd.DataFrame(train['education'])).fillna(train['education'].mode()[0])

In [31]:
train['education'].value_counts()

Bachelor's          39078
Master's & above    14925
Below Secondary       805
Name: education, dtype: int64

In [33]:
train['education'].isnull().any()

False

In [36]:
train.previous_year_rating.isnull().value_counts()

False    50684
True      4124
Name: previous_year_rating, dtype: int64

In [39]:
train.previous_year_rating

0        5.0
1        5.0
2        3.0
3        1.0
4        3.0
5        3.0
6        3.0
7        3.0
8        4.0
9        5.0
10       NaN
11       5.0
12       5.0
13       3.0
14       3.0
15       1.0
16       3.0
17       1.0
18       5.0
19       3.0
20       3.0
21       4.0
22       3.0
23       NaN
24       5.0
25       5.0
26       5.0
27       4.0
28       5.0
29       NaN
        ...
54778    3.0
54779    3.0
54780    5.0
54781    5.0
54782    3.0
54783    3.0
54784    5.0
54785    4.0
54786    1.0
54787    3.0
54788    3.0
54789    3.0
54790    5.0
54791    1.0
54792    3.0
54793    1.0
54794    4.0
54795    3.0
54796    3.0
54797    5.0
54798    5.0
54799    5.0
54800    5.0
54801    NaN
54802    1.0
54803    3.0
54804    2.0
54805    5.0
54806    1.0
54807    1.0
Name: previous_year_rating, Length: 54808, dtype: float64

In [0]:
train.previous_year_rating = train['previous_year_rating'].fillna(train['previous_year_rating'].mode()[0])

In [41]:
train.previous_year_rating.isnull().value_counts()

False    54808
Name: previous_year_rating, dtype: int64

In [0]:
test.previous_year_rating = test['previous_year_rating'].fillna(test['previous_year_rating'].mode()[0])

In [0]:
test.education = test['education'].fillna(test['education'].mode()[0])

In [48]:
test.isnull().any()

employee_id             False
department              False
region                  False
education               False
gender                  False
recruitment_channel     False
no_of_trainings         False
age                     False
previous_year_rating    False
length_of_service       False
KPIs_met >80%           False
awards_won?             False
avg_training_score      False
dtype: bool

In [54]:
train.dtypes

employee_id               int64
department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
is_promoted               int64
dtype: object

In [65]:
print(train.recruitment_channel.value_counts())
print(train.department.value_counts())
print(train.gender.value_counts())
print(train.education.value_counts())

other       30446
sourcing    23220
referred     1142
Name: recruitment_channel, dtype: int64
Sales & Marketing    16840
Operations           11348
Technology            7138
Procurement           7138
Analytics             5352
Finance               2536
HR                    2418
Legal                 1039
R&D                    999
Name: department, dtype: int64
m    38496
f    16312
Name: gender, dtype: int64
Bachelor's          39078
Master's & above    14925
Below Secondary       805
Name: education, dtype: int64

In [59]:
pd.crosstab(train['KPIs_met >80%'],train.is_promoted)

is_promoted        0     1
KPIs_met >80%
0              34111  1406
1              16029  3262

In [58]:
pd.crosstab(train.region,train.is_promoted)

is_promoted      0    1
region
region_1       552   58
region_10      597   51
region_11     1241   74
region_12      467   33
region_13     2418  230
region_14      765   62
region_15     2586  222
region_16     1363  102
region_17      687  109
region_18       30    1
region_19      821   53
region_2     11354  989
region_20      801   49
region_21      393   18
region_22     5694  734
region_23     1038  137
region_24      490   18
region_25      716  103
region_26     2117  143
region_27     1528  131
region_28     1164  154
region_29      951   43
region_3       309   37
region_30      598   59
region_31     1825  110
region_32      905   40
region_33      259   10
region_34      284    8
region_4      1457  246
region_5       731   35
region_6       658   32
region_7      4327  516
region_8       602   53
region_9       412    8

In [0]:
one_hot_department = pd.get_dummies(train.department)
one_hot_education = pd.get_dummies(train.education)
one_hot_r_channel = pd.get_dummies(train.recruitment_channel)
one_hot_gender = pd.get_dummies(train.gender)

In [0]:
after_oh = pd.concat([train[train.columns.difference(['education','department','recruitment_channel','gender'])],one_hot_department,one_hot_gender,one_hot_education,one_hot_r_channel],axis=1)

In [0]:
def funct(x):
  return int(x.split("_")[1])
after_oh['region'] = after_oh['region'].apply(funct)

In [85]:
after_oh.dtypes

Analytics                 uint8
Bachelor's                uint8
Below Secondary           uint8
Finance                   uint8
HR                        uint8
KPIs_met >80%             int64
Legal                     uint8
Master's & above          uint8
Operations                uint8
Procurement               uint8
R&D                       uint8
Sales & Marketing         uint8
Technology                uint8
age                       int64
avg_training_score        int64
awards_won?               int64
employee_id               int64
is_promoted               int64
length_of_service         int64
no_of_trainings           int64
other                     uint8
previous_year_rating    float64
referred                  uint8
region                    int64
sourcing                  uint8
f                         uint8
m                         uint8
dtype: object

In [0]:
after_oh['awards_per_length'] = after_oh['awards_won?']/after_oh['length_of_service']

In [0]:
after

In [0]:
test = pd.concat([test[test.columns.difference(['gender','department','recruitment_channel','education'])],pd.get_dummies(test['department']),pd.get_dummies(test['gender']),pd.get_dummies(test['education']),pd.get_dummies(test['recruitment_channel'])],axis=1)

In [0]:
test['awards_per_length'] = test['awards_won?']/test['length_of_service']

In [0]:
test['region'] = test['region'].apply(funct)

In [94]:
test.shape

(23490, 26)

In [96]:
after_oh.shape

(54808, 27)

In [101]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()

after_scale_train = mms.fit_transform(after_oh[after_oh.columns.difference(['is_promoted','employee_id'])])

after_scale_test = mms.transform(test[after_oh.columns.difference(['is_promoted','employee_id'])])

from xgboost import XGBClassifier as xgbc

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [0]:
from sklearn.model_selection import GridSearchCV

parameters = {'learning_rate':[0.03,0.1,0.23], 'reg_lambda':[1, 5],'max_depth':[6,9,12],'min_child_weight':[1,5],'n_estimators':[10,50,75]}

gv = GridSearchCV(xgbc(),parameters,cv=6,scoring ='accuracy')

In [140]:
gv.fit(after_scale_train,after_oh['is_promoted'])

GridSearchCV(cv=6, error_score='raise-deprecating',
       estimator=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'learning_rate': [0.03, 0.1, 0.23], 'reg_lambda': [1, 5], 'max_depth': [6, 9, 12], 'min_child_weight': [1, 5], 'n_estimators': [10, 50, 75]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [150]:
gv.best_params_

{'learning_rate': 0.1,
 'max_depth': 9,
 'min_child_weight': 1,
 'n_estimators': 75,
 'reg_lambda': 1}

In [151]:
xgb2 = xgbc(n_estimators=100, max_depth = 9,reg_lambda = 1.75)
xgb2.fit(after_oh[after_oh.columns.difference(['is_promoted'])],after_oh['is_promoted'])

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=9, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1.75, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [0]:
y_3 = xgb2.predict(test[after_oh.columns.difference(['is_promoted'])])

In [0]:
from sklearn.model_selection import cross_val_score

model4 = xgbc(n_estimators=100, max_depth = 9,reg_lambda = 1.75,learning_rate=0.15)
#highest   ----- model4 = xgbc(n_estimators=100, max_depth = 9,reg_lambda = 1.75,learning_rate=0.15)
    #n_estimators=50, max_depth = 7,reg_lambda = 2,learning_rate = 0.5)
#print(cross_val_score(clf,after_oh[after_oh.columns.difference(['is_promoted'])],after_oh['is_promoted'],cv=5))

In [0]:
#model4.fit(after_scale_train,after_oh['is_promoted'])
#y_4 = model4.predict(after_scale_test)
model4.fit(after_oh[after_oh.columns.difference(['is_promoted','employee_id'])],after_oh['is_promoted'])
y_4 = model4.predict(test[after_oh.columns.difference(['is_promoted','employee_id'])])

In [158]:
print(cross_val_score(xgb2,after_oh[after_oh.columns.difference(['is_promoted'])],after_oh['is_promoted'],cv=5))

[0.94289363 0.94061303 0.94170772 0.94370952 0.94151993]

In [0]:
model5 = xgbc(n_estimators=20, max_depth = 5,reg_lambda = 1.8,learning_rate = 0.65)
model5.fit(after_oh[after_oh.columns.difference(['is_promoted'])],after_oh['is_promoted'])
y_5 = model5.predict(test[after_oh.columns.difference(['is_promoted'])])

In [170]:
pd.crosstab(y_3,xgb2.predict(test[after_oh.columns.difference(['is_promoted'])]))
pd.crosstab(y_4,y_5)

col_0      0    1
row_0
0      22723   37
1         58  672

In [108]:
xg = xgbc(n_estimators=25,max_depth=15)
xg.fit(after_scale_train,after_oh['is_promoted'])

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=15, min_child_weight=1, missing=None, n_estimators=25,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [0]:
y_output_grid = gv.predict(after_scale_test)

In [142]:
pd.DataFrame(y_output_grid)

       0
0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
...   ..
23460  0
23461  0
23462  0
23463  0
23464  0
23465  0
23466  0
23467  0
23468  0
23469  0
23470  0
23471  0
23472  0
23473  0
23474  0
23475  0
23476  0
23477  0
23478  0
23479  0
23480  0
23481  0
23482  0
23483  0
23484  0
23485  0
23486  0
23487  0
23488  0
23489  1

[23490 rows x 1 columns]

In [143]:
pd.crosstab(y_output,y_output_grid)

col_0      0    1
row_0
0      22722   37
1         55  676

In [0]:
sample_submission[['employee_id','is_promoted']] = pd.concat([test['employee_id'],pd.DataFrame(y_4)],axis=1)

In [133]:
sample_submission.shape

(23490, 2)

In [0]:
from google.colab import files

sample_submission.to_csv('submission4.csv',index=False)

files.download('submission4.csv')

In [125]:
test.employee_id

0         8724
1        74430
2        72255
3        38562
4        64486
5        46232
6        54542
7        67269
8        66174
9        76303
10       60245
11       42639
12       30963
13       54055
14       42996
15       12737
16       27561
17       26622
18       31582
19       29793
20       72735
21        5677
22       60889
23       51498
24        8566
25       53151
26       16203
27       61083
28       74849
29       13259
         ...
23460    72190
23461    27155
23462    15959
23463    72900
23464    57683
23465    55174
23466    51115
23467    50134
23468    59775
23469    14408
23470     4351
23471    59625
23472    29379
23473    67979
23474    61451
23475    73871
23476    52090
23477    18488
23478    59673
23479    39410
23480    11837
23481    78278
23482    27284
23483    49291
23484    47537
23485    53478
23486    25600
23487    45409
23488     1186
23489     5973
Name: employee_id, Length: 23490, dtype: int64

In [129]:
y_output.shape

(23490,)

In [131]:
pd.DataFrame(y_output).isnull().any()

0    False
dtype: bool